.l7-draw-control {
  display: flex;
  overflow: hidden;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 20px #00000026;
}
.l7-draw-control__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  background: transparent;
  border-width: 0 0 0 0;
  border-right: 1px solid #e0e0e0;
  outline: 0;
  cursor: pointer;
  transition: background-color 0.3s;
}
.l7-draw-control__btn svg {
  transition: color 0.3s;
}
.l7-draw-control__btn:hover {
  background-color: #e5e5e5;
}
.l7-draw-control__btn:hover svg {
  color: #000;
}
.l7-draw-control__btn:last-child {
  border-right: 0;
  border-bottom: 0;
}
.l7-draw-control__btn .l7-draw-icon {
  width: 26px;
  height: 26px;
  overflow: hidden;
  fill: currentColor;
}
.l7-draw-control__btn--active,
.l7-draw-control__btn--active:hover {
  background-color: #0370fe;
}
.l7-draw-control__btn--active svg,
.l7-draw-control__btn--active:hover svg {
  color: #fff;
}
